@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");

pre {
  font-family: "Fira Code", monospace;
  background: rgb(30, 42, 71);
  box-shadow: rgba(70, 96, 187, 0.2) 0px 16px 30px -10px;
  color: white;
  padding: 16px;
  border-radius: 15px;
}

.form {
  border-radius: 1.5rem;
  background: rgb(30, 42, 71);
  box-shadow: rgba(70, 96, 187, 0.2) 0px 16px 30px -10px;
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: height 0.3s ease 0s;
  position: relative;
  
 &__input {
    flex: 1 1 0%;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    color: rgb(255, 255, 255);
    background: none;
    border: none;
    margin: 0px 0.8rem;
    width: calc(100% - 4.8rem);
    padding: 0.7rem 0.7rem 0.7rem 1.6rem;
    box-sizing: border-box;
  }

  &__label {
    height: 2.4rem;
    cursor: pointer;
  }

  &__input {
    flex: 1 1 0%;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    color: rgb(255, 255, 255);
    background: none;
    border: none;
    margin: 0px 0.8rem;
    width: calc(100% - 4.8rem);
    border-radius: 5px;

    &:focus {
      outline: none;
      border: 2px dashed rgb(255, 255, 255);
    }
  }
}

.btn-submit {
  background: rgb(0, 121, 255);
  border: none;
  border-radius: 1rem;
  line-height: 2.1rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
  cursor: pointer;
  width: 8.4rem;
  transition: all 0.3s ease-out 0s;
  align-self: center;
  height: auto;
  padding: 0.7rem;
  margin-right: 1.9rem;
}

.material-icons {
  color: rgb(255, 255, 255);
  font-size: 2rem;
  margin-left: 1.9rem;
}

footer {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
}

// input {
//   padding: 8px;
//   border: 1px solid silver;
//   border-radius: 5px;
// }

// button {
//   color: #fff;
//   border: 1px solid #fff;
//   padding: 10px 20px;
//   border-radius: 4px;
//   cursor: pointer;
//   font-weight: 500;
//   text-transform: uppercase;
//   transition: all 0.3s ease;

//   &:hover {
//     border: 1px solid #fff;
//   }

//   &:disabled {
//     cursor: not-allowed;
//     background-color: #ccc;
//     color: #777;
//   }
// }

// .btn-limpar {
//   background-color: #f29f05;

//   &:hover {
//     background-color: #f2b705;
//   }
// }

// .btn-enviar {
//   background-color: #4285f4;

//   &:hover {
//     background-color: #306ce7;
//   }
// }

// .btn-icon {
//   font-size: 1rem;
// }

// .icon-verified {
//   color: #00aced;
// }

// .icon-signpost {
//   font-size: 2rem;
//   color: #bf1b1b;
// }

// @media screen and (max-width: 768px) {
//   .flex {
//     flex-direction: column;
//   }
// }
